<h1>Editing watchlist</h1>

<%= render "form", watchlist: @watchlist %>

<br>

<div>
  <%= link_to "Show this watchlist", @watchlist %> |
  <%= link_to "Back to watchlists", watchlists_path %>
</div>
